/* ======================= 
General Styles
======================= */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f8faf8;
    overflow-x: hidden; /* ปิดการเลื่อนแนวนอน */
}

/* =======================
Header Styling
======================= */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: rgb(2, 2, 2);
    z-index: 1000;
    padding: 10px 0;
    background-color: #4B5945; /* เพิ่มพื้นหลังให้ header */
    justify-content: space-between;
    display: flex; /* ใช้ flexbox เพื่อจัดวางเนื้อหาภายใน header */
    flex-direction: column; /* จัดโลโก้และเมนูให้อยู่ในแนวตั้ง */
    align-items: center; /* จัดให้อยู่ตรงกลาง */
    justify-content: center;
}

.logo {
    color: #ffffff;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center; /* จัดข้อความในโลโก้ให้อยู่ตรงกลาง */
    margin-bottom: 10px; /* เพิ่มระยะห่างระหว่างโลโก้และเมนู */
    padding-top: 0px;
    padding-bottom: 20px; /* เพิ่มระยะห่างจากเส้นกั้นด้านล่าง */
    border-bottom: 2px solid #66785F; /* เส้นกั้นระหว่าง logo และ nav */
}

/* =======================
   navbar
======================= */
/* Navbar */
.navbar {
  flex: 1; /* กำหนดพื้นที่ยืดหยุ่น */
  display: flex; /* ใช้ flexbox */
  justify-content: flex-end; /* จัดเมนูให้ชิดขวา */
  text-align: right; /* จัดข้อความในโลโก้ให้อยู่ตรงกลาง */
}

/* เมนูลิงก์ */
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem; /* ระยะห่างระหว่างเมนู */
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #e5c847;
}
/* =======================
   Hamburger Menu
======================== */
/* เมนูแฮมเบอร์เกอร์ */
.hamburger-toggle {
  display: none;
}

.hamburger-icon {
  font-size: 20px;
  cursor: pointer;
  position: absolute; /* ทำให้ตำแหน่งอยู่กับขอบซ้าย */
  left: 0; /* ชิดซ้าย */
  z-index: 10; /* เลเยอร์ให้อยู่ด้านบน */
  padding: 0.5rem; /* เพิ่มพื้นที่คลิกให้กับไอคอน */
  color: #ffffff;
}

/* เมนู */
.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: rgba(241, 235, 235, 0.9);
  z-index: 5;
}

.hamburger-toggle:checked + .hamburger-icon + .menu {
  display: block;
}

.menu ul {
  list-style: none;
  margin-top: 50px;
  text-align: center;
}

.menu li {
  margin: 20px 0;
}

.menu a {
  color: rgb(9, 9, 9);
  text-decoration: none;
  font-size: 16px;
}
